<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PTModelSprite_ID9791</key>
            <dict>
                <key>frame</key>
                <string>{{0, 0}, {485, 515}}</string>
                <key>offset</key>
                <string>{2, -19}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{41, 38}, {485, 515}}</string>
                <key>sourceSize</key>
                <string>{564, 553}</string>
            </dict>
            <key>PTModelSprite_ID10246</key>
            <dict>
                <key>frame</key>
                <string>{{489, 0}, {281, 464}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {281, 464}}</string>
                <key>sourceSize</key>
                <string>{281, 464}</string>
            </dict>
            <key>PTModelSprite_ID10245</key>
            <dict>
                <key>frame</key>
                <string>{{774, 0}, {280, 464}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {280, 464}}</string>
                <key>sourceSize</key>
                <string>{280, 464}</string>
            </dict>
            <key>PTModelSprite_ID10244</key>
            <dict>
                <key>frame</key>
                <string>{{1058, 0}, {280, 464}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {280, 464}}</string>
                <key>sourceSize</key>
                <string>{280, 464}</string>
            </dict>
            <key>PTModelSprite_ID10162</key>
            <dict>
                <key>frame</key>
                <string>{{1342, 0}, {287, 425}}</string>
                <key>offset</key>
                <string>{-22, -11}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{106, 35}, {287, 425}}</string>
                <key>sourceSize</key>
                <string>{542, 474}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>2</string>
            <key>realTextureFileName</key>
            <string>atlas_ID9792.png</string>
            <key>size</key>
            <string>{2048, 2048}</string>
            <key>smartupdate</key>
            <string>$Potion:Smartupdate:$</string>
            <key>textureFileName</key>
            <string>atlas_ID9792.png</string>
        </dict>
    </dict>
</plist>
